Consulta de Procedimientos.json
{
  "name": "Comparaciòn de Normas",
  "nodes": [
    {
      "parameters": {
        "content": "##Flujo de vectorizaciòn de PDF",
        "height": 520,
        "width": 1140
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1140,
        -400
      ],
      "typeVersion": 1,
      "id": "d04a821e-e2c3-4ff4-8de1-c6634874021c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "##Flujo de consulta de PDF",
        "height": 660,
        "width": 1060
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -380
      ],
      "typeVersion": 1,
      "id": "6d142ca9-5738-4ef2-90a3-023c70d410d5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        120,
        -300
      ],
      "id": "02301839-d631-4296-b76a-61aa35bc233d",
      "name": "When chat message received",
      "webhookId": "780ac983-d388-4822-b98e-5a65dcb3f52f"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "comparacionnormas",
          "mode": "list",
          "cachedResultName": "comparacionnormas"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -600,
        -360
      ],
      "id": "c1445f4a-7d42-4574-a08e-44633e0004ed",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "COw2PSZamkdpaJko",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -600,
        -120
      ],
      "id": "eb74d088-812c-479f-9b84-b98cfd3fabd4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "dip9Rnc9K93aEvd8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -380,
        0
      ],
      "id": "6dbb9b20-d3a2-49ac-aff1-274bb7dcc018",
      "name": "Recursive Character Text Splitter",
      "notesInFlow": true
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -380,
        -200
      ],
      "id": "8cce1524-7dba-4668-a0ce-65e5fda59f12",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -800,
        -360
      ],
      "id": "2d864f95-2c8d-499a-b6ff-55122c2ae0fe",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zKx5IUfgEMzWp25L",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1lvVOHI3qETzXC16smkGSdjnLb9Wbw5_1",
          "mode": "list",
          "cachedResultName": "Biblioteca RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lvVOHI3qETzXC16smkGSdjnLb9Wbw5_1"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1020,
        -360
      ],
      "id": "51e423e2-82f1-4d99-a945-431c5735b27b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zKx5IUfgEMzWp25L",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        -100
      ],
      "id": "a2f127d1-0709-4ce7-b638-6cfad55c4681",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dip9Rnc9K93aEvd8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "comparacionnormas",
          "mode": "list",
          "cachedResultName": "comparacionnormas"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        560,
        20
      ],
      "id": "b80865d1-a6e3-4c36-b241-4c944b011caf",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "COw2PSZamkdpaJko",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        520,
        160
      ],
      "id": "3cbb1ce3-e3ad-4084-b490-7602276396ca",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "dip9Rnc9K93aEvd8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        340,
        -300
      ],
      "id": "e9b58410-511c-4317-acf1-44309b4ed2e4",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        380,
        -60
      ],
      "id": "a4c25b71-0854-4350-98cf-1f16906d43ba",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "llama a este herramienta para acceder a la base de datos vectorial para responder a las dudas del usuario sobre los documentos de tecnicas de laboratorios. Dale toda la informacion posible que responda a sus preguntas"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        680,
        -180
      ],
      "id": "2d7bbc9b-9e25-4b8d-b201-4c6bf811a46c",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        840,
        0
      ],
      "id": "c629e9fd-53e8-4696-8dce-5e094fa2be02",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "dip9Rnc9K93aEvd8",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7e2f64b0-a1a4-4a85-8151-a1ae3eb82328",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b8123005eccf77b7c22aff1e7e8d1dc432579da354e3697279acd178e9907b9"
  },
  "id": "VhZ1Cz7ok3qRJ6Qb",
  "tags": []
}